// *******************************************
// *******************************************

// Icon formatting for styleguide section

// *******************************************
// *******************************************

.pl-icons {
  @include clearfix;
}

.pl-icon {
  position: relative;
  height: rem(100);
  margin: 0;
  display: inline-block;
  background: $gray--300;
  border: 1px solid $gray--400;

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: rem(-6);
    transform: translate(-50%, -50%);
  }

}

.pl-icon__name {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: rem(6 3);
  display: block;
  font-size: rem(11);
  background: $gray--300;
  border-top: 1px solid $gray--400;
}
