// *******************************************
// *******************************************

// Style Guide typography styles

// *******************************************
// *******************************************

// headers

.pl-h1 {
  margin: rem(0 0 25 0);
  font-weight: bold;
  font-size: rem(42);
  line-height: 1.125em;
  color: $gray--400;
  text-shadow: 1px 1px 1px rgba($white, .5);
}

.pl-h2 {
  margin: rem(0 0 25 0);
  font-weight: bold;
  font-size: rem(24);
  color: $gray--600;
  text-shadow: 1px 1px 1px rgba($white, .5);
}

.pl-hr {
  margin: rem(30 0);
  border: 0;
  border-bottom: 1px solid $gray--200;
}
