.menu-icon {
  flexItem(1, 1, auto);
  max-height: 50vw;
  opacity: 0;
  transition: opacity 300ms ease;

  &.menu-icon--active {
    opacity: .15;
  }

}

.menu__icon {
  margin-left: rem(50);
  width: 100%;
  height: 100%;

  svg {
    margin: auto;
  }

}
