// *******************************************
// *******************************************

// Base and root elements

// *******************************************
// *******************************************

html,
body {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
