footer {
    flexItem(0, 0, rem(200));
    position : relative;
    width    : 100%;
}

.footer {
    flexContainer(true);
    padding: rem(60) 0
    align-content   : center;
    justify-content : space-around;
}

.footer__column {
  flexContainer(true);
  flexItem(0, 0, 100%);
}
